.about {
  --grid-min-item-size: 14rem;
  --space-grid: var(--space-gutter-s);
  --frame-width: 255;
  --frame-height: 242;
  --space-flow: var(--space-l);
  padding-block-end: 0;

  img {
    border-radius: 0.5em;
  }

  p {
    --measure: 42ch;
    margin-inline: auto;
  }
}
