@use "../20-mixins/media-query" as *;

header {
  --space-region: var(--space-xl) var(--space-2xl-3xl);

  nav {
    margin-inline: auto;

    img {
      block-size: var(--size-step-2);
      line-height: var(--leading);
      transform: scale(1.1);
    }
  }

  .image-tablet-wrapper {
    --scale: 1;
    // height: calc(100% * var(--scale));
    // margin-block: calc(var(--space-2xl-3xl) * var(--scale));
    margin-block: var(--space-2xl-3xl);
    margin-inline: auto;

    .image-tablet {
      transform: scale(var(--scale));
      transform-origin: top;
    }

    @media screen and (min-width: 800px) {
      display: none;
    }
  }

  section {
    --space-flow: 2em;
    --space-cluster: var(--space-gutter-s);
    --cluster-horizontal-alignment: center;
    margin-block-start: var(--space-2xl-3xl);
    margin-inline: auto;
    text-align: center;
    max-inline-size: calc(45ch + var(--space-gutter) * 2);
    position: relative;

    .image-desktop {
      position: absolute;
      top: 0;
      block-size: calc(
        var(--text-size-heading-1) * 2 + var(--text-size-base) * 3 + 4em +
          var(--text-size-base) + var(--space-s) * 2
      );

      @media screen and (max-width: 799px) {
        display: none;
      }
    }

    .image-desktop--start {
      top: calc(var(--text-size-heading-1) * -1);
      left: 0;
      transform: translateX(
        calc(-100% - var(--space-xl-2xl) + var(--space-gutter))
      );
    }

    .image-desktop--end {
      --space-flow: none;
      right: 0;
      transform: translateX(
        calc(100% + var(--space-xl-2xl) - var(--space-gutter))
      );
    }

    h1,
    p {
      max-inline-size: calc(var(--text-size-heading-1) * 7);
    }

    @media screen and (max-width: 799px) {
      margin-block-start: 0;
      padding-inline: var(--space-gutter);

      h1 {
        margin-inline: auto;
      }

      p {
        max-inline-size: unset;
      }
    }
  }
}
