@font-face {
  font-family: "Red Hat Display";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Red_Hat_Display/RedHatDisplay-Medium.woff2") format("woff2"),
    url("/fonts/Red_Hat_Display/RedHatDisplay-Medium.woff") format("woff");
}
@font-face {
  font-family: "Red Hat Display";
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/Red_Hat_Display/RedHatDisplay-Black.woff2") format("woff2"),
    url("/fonts/Red_Hat_Display/RedHatDisplay-Black.woff") format("woff");
}
